name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore TMDBCLITool.sln

      - name: Build
        run: dotnet build TMDBCLITool.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test TMDBCLIToolTests/TMDBCLIToolTests.csproj --configuration Release --no-build --verbosity normal
